*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.navbar{
    height: 80px;
    width: 100%;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 30px;
    z-index: 100;
}
.logo{
    /*border: 2px solid white;*/
    padding: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.logo > svg{
    fill: white;
}
.navlinks{
    /*border: 2px solid white;*/
    padding: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}
.navlinks>li{
    height: 100%;
    display: flex;
    align-items: center;
}
.navlinks a{
    color: white;
    text-decoration: none;
    padding: 2px 10px;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.2em;
}
.navlinks>li:hover>a{
    background-color: #2b2a29;
    color: crimson;
   
}

.web-icons{
    /* border: 2px solid white; */
    padding: 10px;
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 20px;
}
.search-icon{
    /* border: 1px solid white; */
    padding: 8px;
    border-radius: 50%;
    background-color: #2b2a29;
    cursor: pointer;
}
.web-icons>button{
    padding: 8px 16px;
    font-size: 13px;
    border-radius: 10px;
    border: none;
    background-color: #ff3c46;
    font-weight: 600;
    letter-spacing: 0.08em;
    cursor: pointer;

}
.web-icons > .web{
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.web-icons > .web:hover{
    background-color: #2b2a29;
}
/* HERO SECTION*/
.video-container{
    height: 80vh;
    width: 100%;
    position: relative;
    background-color: yellow;
}
.video-container > video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.hero-content{
    /* border: 2px solid white; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-content>h1{
    font-family: sans-serif;
    margin: 32px 0 64px;
    font-size: 20px;
    color: #ece8e1;
    font-weight: 400;
    font-family: fantasy;
    text-transform: uppercase;
}
.hero-content > button{
    padding: 18px 32px;
    background-color: #ff4655;
    color: #ece8e1;
    border: 1px solid #ece8e1;
    transition: 0.2s;
    cursor: pointer;
}
.hero-content > button:hover{
    background-color: #ece8e1;
    color: black;
}
/*LATEST SECTION STARTS*/
.latest-section{
    background-color: #ece8e1;
    padding: 60px;
}
.latest-section>header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.latest-section h1{
    font-size: 48px;
    font-family: fantasy;
    letter-spacing: 0.028em;
}
.latest-section p{
    font-weight: 600;
}
 .mid-section{
    width : 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
     /* grid-template-rows: repeat(4,200px); */
    gap: 0.4rem;
    padding: 4rem;
}
.mid-items{
    width: 300px;
    height: auto;
    overflow: hidden;
}

.profile{
    width: 100%;
    height: auto;
}
.profile img{
    width: 100%;
    height: auto;
    display: block;
}
.info{
    height: auto;
    margin-block: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}
.category{
    color: rgb(255, 70, 85);;
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
}
.date{
    color: rgb(16, 28, 40);;
    font-size: small;
    font-weight: 500;
}
.info h3{
   color: rgb(15, 25, 35);;
   font-size: medium;
   font-weight: bold;
}
.info p{

    font-weight: 400;
    font-size: 14px;
    font-family: "DINNextW1G", Inter, sans-serif;
}
.bg-img{
   width: 100%;
    overflow: hidden;
    position: relative;
}
.bg-img img{
    
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    }
 .img-cls{
    position: relative;
 } 
 .bg-container{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
 } 
 .bg-container h1{
    font-size: 50px;
    
    letter-spacing: 0.028em;
    font-family: Tungsten-Bold, "Riot Sans", sans-serif;
    font-weight: 600;
 } 
 .bg-container button{
     padding: 18px 32px;
    background-color: #ff4655;
    color: #ece8e1;
    border: 1px solid #ece8e1;
    transition: 0.2s;
    cursor: pointer;
 }

.bg-container button:hover{
    color: black;
    font-weight: 200;
    background-color: white;

}
.flexctn{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    box-sizing: border-box;


    /* overflow: hidden; */
}
.flexctn-info{
    width: 45%;
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    gap: 20px;
    }
.flexctn-info h1{
    font-size: 80px;
    font-weight: 700;
    color: rgb(15, 25, 35);
    font-family: 'Teko',  sans-serif;
    text-transform: uppercase;
    line-height: 0.9;
    letter-spacing: 1px;
} 
.flexctn-info h5{
    font-size: 15px;
    letter-spacing: 2px;
    
}
.flexctn-info p{
    line-height: 1.6;
    
}  
.flexctn-info button{
    width: fit-content;
    padding: 12px 25px;
    background-color: #ff4655;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
} 
.flexctn-info button:hover{
    background-color: black;
}
 .flexctn-video{
    width: 50%; 
 }
 .flexctn-video video{
    width: 100%;
    height: auto;
    object-fit: cover;
 }

 .agents-section{
    position: relative;
    height: 100vh;
    background-color: #ff4655;
    padding: 80px;
    overflow: hidden;
    display: flex;
    width: 100%;
    color: #fff;
    z-index: 2;
    justify-content: space-between;
    align-items: center;

 }
 .agents-content{
    width: 45%;
    position: absolute;
    top: 20%;
    right: 10%;
    color: #fff;
    z-index: 2;
 }
 .agents-section h1{
    font-size: 60px;
    letter-spacing: 2px;

 }
 .agents-section h5{
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 20px;
 }
 .agents-section p{
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
 }
 .agents-section button{
    padding: 14px 28px;
    background: #0f1923;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
 }
 .agents-img{
    position: absolute;
    left: 10%;
    top: 5%;
    transform: translate(-50%);
    width: 45%;
    z-index: 1;
    object-fit: cover;
    /* object-fit: cover; */
    object-position: center;
 }


.map-sec{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    box-sizing: border-box;


    /* overflow: hidden; */
}
.map-info{
    width: 45%;
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    gap: 20px;
    padding-top: 0;
    }
.map-info h1{
    font-size: 80px;
    font-weight: 700;
    color: rgb(15, 25, 35);
    font-family: 'Teko',  sans-serif;
    text-transform: uppercase;
    line-height: 0.9;
    letter-spacing: 1px;
} 
.map-info h5{
    font-size: 15px;
    letter-spacing: 2px;
    
}
.map-info p{
    line-height: 1.6;
    
}  
.map-info button{
    width: fit-content;
    padding: 12px 25px;
    background-color: #ff4655;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
} 
.map-info button:hover{
    background-color: black;
}
 .map-img{
    width: 50%; 
 }
 .map-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
 }